/* 
CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */

@media screen and (max-width: 1024px){ 

#wrapper
  {
      width:90%;
      max-width:100%;
      float:none;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  #content 
  {
    width: 80%;
    max-width: 80%;
    float: left;
    overflow: hidden;
    position: relative;
    margin-right: 2%;
}
#home-content 
  {
    width: 100%;
    max-width: 100%;
    float: none;
    overflow: hidden;
    position: relative;
    margin-right: 2%;
}
#archive-content 
  {
    width: 100%;
    max-width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    margin-right: 2%;
}
  #sidebar {
    width: 32%;
    max-width: 32%;
    float: none;
    overflow: hidden;
    position: relative;
}
article.has-sidebar
{
    width:90%;
	max-width:100%;
	float:none;
}
#right-sidebar
{
width:90%;
	max-width:100%;
	float:none;
}
  .entry-box {
    border-top: 1px solid #e6e6e6;
    float: left;
    padding: 0px;
    width: 30%;
    vertical-align: top;
}
 .photo-text2 {
       font-size: 57px;
    }
    
   .photo-text2 span {
       font-size: 30px;
        font-weight: 200;
    }
    
     .photo-text3 {
       font-size: 57px;
    }
    
   .photo-text3 span {
       font-size: 30px;
        font-weight: 200;
    }
    
    #home-content .middle { float: none; 
       position: relative; 
       overflow: hidden; 
       padding: 0 22% 0 22%; 
       width: 55%; }
       
    .header-ad { display: block; width: 100%; margin: 5px auto 5px; }
}

@media screen and (max-width: 620px){ 

#wrapper
  {
      width:90%;
	  max-width:100%;
	  float:none;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  #content
  {
   width:100%;
	  max-width:100%;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  #home-content
  {
   width:100%;
	  max-width:100%;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  #sidebar
  {
   width:100%;
	  max-width:100%;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  .entry-box {
    border-top: 1px solid #e6e6e6;
    float: none;
    margin: 20px;
    padding: 10px;
    width: 100%;
    vertical-align: top;
}
article.has-sidebar
{
    width:90%;
	max-width:100%;
	float:none;
}
#right-sidebar
{
width:90%;
	max-width:100%;
	float:none;
}
header {
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 7px 0;
    height: 60px;
    padding: 40px 0px;
}
.photo-text {
        font-size: 32px;
        font-weight: 600;
        top: 30%;
        text-shadow: 0px 4px 28px rgba(0,0,0,0.8); 
    }

    .photo-text span {
        font-size: 20px;
        font-weight: 400;
        line-height: 2;
    }
    .photo-text2 {
       font-size: 40px;
        font-weight: 600;
        top: 30%;
        text-shadow: 0px 4px 28px rgba(0,0,0,0.8); 
    }
    
   .photo-text2 span {
        font-size: 17px;
        font-weight: 200;
    }
    
    .photo-text3 {
       font-size: 40px;
        font-weight: 600;
        top: 30%;
        text-shadow: 0px 4px 28px rgba(0,0,0,0.8); 
    }
    
   .photo-text3 span {
        font-size: 17px;
        font-weight: 200;
    }
    
    #home-content .middle {  
       padding: 0 15% 0 15%;
       width: 70%;  }

}

@media screen and (max-width: 480px){ 

#wrapper
  {
      width:90%;
	  max-width:100%;
	  float:none;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  #content
  {
   width:100%;
	  max-width:100%;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  #home-content
  {
   width:100%;
	  max-width:100%;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  #sidebar
  {
   width:100%;
	  max-width:100%;
	  float:none;
	  overflow:hidden;
	  position:relative;
  }
  .entry-box {
    border-top: 1px solid #e6e6e6;
    float: none;
    margin: 20px 5px;
    padding: 10px;
    width: 100%;
    vertical-align: top;
}
#bottomImage
{
   width:25%;
}
#google_image_div
{
   width:100%;
   max-width:100%;
}
.mc-field-group label
{
    width:80%;
	float:none;
	margin:5px 0px;

}
.mc-field-group input
{
    width:80% !important;
	float:none;
	margin:5px 0px !important;
}
.mc-field-group input[type ="email"]
{
    width:80%;
	float:none;
	margin:5px 0px;
}
.mc-field-group input[type="text"]
{
    width:80%;
	float:none;
		margin:5px 0px;

}
.mc-field-group input[type="submit"]
{
    width:60%;
	float:none;
		margin:5px 0px;

}
.entry-embed iframe
{
    width:100% !important;
	max-width:100%;
	padding:20px 20px 20px 0px;
}
article.has-sidebar
{
    width:90%;
	max-width:100%;
	float:none;
}
#right-sidebar
{
width:90%;
	max-width:100%;
	float:none;
}
#top {
    height: 50px;
    line-height: 40px;
    padding: 10px 0px 10px;
}


  .photo-text {
        font-size: 17px;
        font-weight: 600;
        top: 22%;
        text-shadow: 0px 4px 28px rgba(0,0,0,0.8); 
    }
 .photo-text span {
        font-size: 13px;
        font-weight: 400;
        line-height: 2;
    }
    .photo-text2 {
        font-size: 27px;
        font-weight: 600;
        top: 30%;
        text-shadow: 0px 4px 28px rgba(0,0,0,0.8); 
    }
    
    .photo-text2 span {
        font-size: 14px;
        font-weight: 150;
    }
    .photo-text3 {
        font-size: 27px;
        font-weight: 600;
        top: 30%;
        text-shadow: 0px 4px 28px rgba(0,0,0,0.8); 
    }
    
    .photo-text3 span {
        font-size: 14px;
        font-weight: 150;
    }
    
    #home-content .middle {  
       padding: 0 0 0 0; 
       width: 100%;}
       
    .fa-ul>li {font-size: 16px; margin: 0 0 5px 20px; }
    
}

@media screen and (max-width: 319px){ 
.photo-text2 {
        font-size: 20px;
        font-weight: 600;
        top: 8%;
        text-shadow: 0px 4px 28px rgba(0,0,0,0.8); 
    }
    
    .photo-text2 span {
        font-size: 11px;
        font-weight: 150;
        line-height: 2;
    }
    .photo-text3 {
        font-size: 20px;
        font-weight: 600;
        top: 8%;
        text-shadow: 0px 4px 28px rgba(0,0,0,0.8); 
    }
    
    .photo-text3 span {
        font-size: 11px;
        font-weight: 150;
        line-height: 2;
    }
    }