/*
Theme Name: VideoTube
Description: VideoTube - A Responsive Video WordPress Theme.
Author: Toan Nguyen
Theme URI: http://themeforest.net/item/videotube-a-responsive-video-wordpress-theme/7214445?ref=phpface
Author URI: http://themeforest.net/user/phpface
Version: 1.3.4.4.1
License: GNU General Public License
License URI: license.txt
Text Domain: mars
Tags: fixed-layout, fluid-layout, responsive-layout, translation-ready, light, white, one-column, two-columns, right-sidebar,custom-menu, editor-style, featured-images,  sticky-post, theme-options, translation-ready
*/
h1,h2,h3,h4,h5,h6 {
	font-family:"Lato", sans-serif !important;
}
img{
	max-width:100%
}
iframe{
	border:0
}
.radio{margin-left:20px;}
#header-social a,.social-counter-item i,.video-details .meta a, .post-info .meta a,#footer .widget a.tag, #footer .mars-keycloud-widgets a, .tagcloud a{
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-ms-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s
}
.container{
	min-width:320px;
	position:relative
}
.carousel{
	overflow:hidden
}
.pagination{
	white-space:nowrap
}


/*** HEADER ***/
#header {
	border-bottom:1px solid #e5e5e5;
	position: relative;
	z-index: 10;
}

	/*** LOGO ***/
	#logo {
		width: 240px;
		height:79px;
		border-right:1px solid #e5e5e5;
		line-height:76px;
		-webkit-box-shadow: 6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		-moz-box-shadow:    6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		box-shadow:         6px 0px 9px 0px rgba(165, 165, 165, 0.07);
	}
	
	/*** HEADER SEARCH ***/
	#header-search {
		position: absolute;
		left: 255px;
		right: 197px;
		width: auto;
	}
	#header-search input {
		border:none;
		font-size:16px;
		letter-spacing:0.5px;
		line-height:78px;
		height:78px;
		width: 97%;
		margin-left: 23px;
		background: inherit;
	}
	#header-search input:focus {
		outline:none;
	}
	#header-search .search-icon {
		color:#bbb;
		position: absolute;
		top: 32px;
	}
	
	/*** HEADER SOCIAL ***/
	#header-social {
		width: 183px;
		float: right;
		text-align: right;
		height:79px;
		border-left:1px solid #e5e5e5;
		line-height:80px;
		-webkit-box-shadow: -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		-moz-box-shadow:    -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		box-shadow:         -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
	}
	
	#header-social a {
		color:#bbb;
		font-size:14px;
		margin-left:10px;
	}
	#header-social a:hover{
		color:#e73737
	}
	
/*** NAVIGATION ***/
#navigation-wrapper {
	background:#4c5358;
	margin-bottom:30px;
}

.navbar-collapse{
	margin-right: -15px!important;
	margin-left: -15px!important;
}
.navbar-toggle .icon-bar{
	background:#FFF
}

#navigation-wrapper ul.menu {
	margin-bottom:0;
}
#navigation-wrapper ul.menu li {
	padding:0;
}

#navigation-wrapper ul.menu li a {
	color:#FFF;
	font-family:Lato, sans-serif;
	text-transform:uppercase;
	font-size:11px;
	font-weight:700;
	letter-spacing:1px;
	height:56px;
	display:block;
	line-height:56px;
	padding:0 14px;
	background: none;
}
	
	#navigation-wrapper ul.menu li ul li a {
		height:30px;
		line-height:30px;
	}
	
	#navigation-wrapper ul.menu li ul li ul {
		left:
	}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:0;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:9px;margin-right:-6px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
	
.navbar-nav>li>.dropdown-menu {
  z-index: 999999999;
}
#navigation-wrapper ul.menu li:hover{
	background:rgba(0,0,0, .2);
}
#navigation-wrapper ul.menu li a:hover{
	background:none;
}
#navigation-wrapper ul.menu li.active a {
	background:rgba(0,0,0, .2);
}


/*** SECTION HEADER ***/
.section-header {
	overflow:hidden;
	margin-bottom:20px;
}

.section-header h3 {
	color:#888;
	font-size:20px;
	
	letter-spacing:0px;
	margin:0;
	font-weight:300;
	font-family:Lato, sens-serif;
	float:left;
	margin-top:3px;
}

.section-header h3 i {
	font-size:13px;
	background:#E73737;
	color:#fff;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	border-radius:50%;
	letter-spacing:0;
	margin-right:2px;
	vertical-align:middle;
	margin-top:-3px;
}

.section-header h3 i.fa-play {
	font-size:9px;
}

.section-header .section-nav {
	float:right;
	position: static;
	width: auto;
	margin: 0;
}

.section-header .section-nav .bullet {
	background:#ddd;
	width:13px;
	height:13px;
	display:inline-block;
	border-radius:50px;
	border: 0;
	margin: 0;
}
.section-header .section-nav .bullet.active {
	background:#e73737;
}

a.viewmore {
	padding:5px 8px 6px 8px;
	font-size:10px;
	background:#E73737;
	color:#fff;
	font-weight:700;
	letter-spacing:1px;
	text-transform:uppercase;
	border-radius:5px;
	margin-top:1px;
	display:inline-block;
}
a.viewmore:hover {
	text-decoration:none;
	color:#fff;
	opacity:.9;
}
a.viewmore i {
	font-size:12px;
}


/*** FEATURED WRAPPER ***/
.featured-wrapper {
	background:#f2f2f2;
	padding:30px 0 0;
	margin-bottom:30px;
}
.featured-wrapper .col-sm-3, .featured-wrapper .col-sm-4, .featured-wrapper .col-sm-2{
	margin-bottom:30px
}

.feat-item {
	position:absolute;
	bottom:0;
	left:15px;
	right:15px;
	height:120px;
	background:url(img/feat-bg.png) repeat-x bottom;
	max-width: 360px;
}
.feat-item .feat-info {
	padding: 38px 20px 0 20px;
}
.feat-item h3 {
	margin-bottom:4px;
	overflow: hidden;
}
.feat-item h3 a{
	color:#FFF;
	font-size:17px;
	font-weight:700;
	white-space: nowrap;
}
	
/*** ITEMS ***/
.video-section {
	margin-bottom:30px;
}

.item.big.list {
	margin-bottom:60px;
}

.carousel-inner .item.active .row:last-child{
	margin-bottom:-30px;
}
.carousel-inner .post { 
	margin-bottom:30px;
}
.carousel-inner .post .post-header {
 	margin-bottom:0;
}
.video-section .post, .widget .post { margin-bottom:30px; }
.video-section .post .post-header, .widget .post .post-header { margin-bottom:0; }
.video-section .item, .widget .item {
	margin-bottom:30px;
}

.video-section .item,.widget .item {
	margin-bottom:30px;
}
.video-section .item h3,.widget .item h3 {
	margin:0;
	line-height:21px;
	margin-bottom:4px;
	overflow: hidden;
}

.video-section .item h3 a,.widget .item h3 a {
	font-size:13px;
	color:#000;
	font-weight:700;
	white-space: nowrap;
	overflow: hidden;
}

.video-section .item img,.widget .item img{
	margin-bottom:5px
}
.loading-wrapper button{
	width: 100%;
}

.loading-wrapper .loading-more-icon{
	background: transparent;
}
.item .meta, .feat-item .feat-info .meta {
	font-size:12px;
	font-family:"Lato", sans-serif;
	color:#999;
	overflow:hidden;
}

.item .meta .date, .feat-item .feat-info .meta .date {
	float:left;
}
.item .meta .views, .feat-item .feat-info .meta .views {
	float:right;
}
.item .meta .fcomments, .feat-item .feat-info .meta .fcomments {
	float:right;
	margin-right:9px;
}
.item .meta .heart, .feat-item .feat-info .meta .heart {
	float:right;
	margin-right:10px;
}

.item .meta .views i, .feat-item .feat-info .meta .views i {
	font-size:12px;
	margin-right:3px;
	color:#b5b5b5;
}
.item .meta .heart i, .feat-item .feat-info .meta .heart i {
	font-size:10px;
	margin-right:3px;
	color:#bbb;
}
.item .meta .fcomments i, .feat-item .feat-info .meta .fcomments i {
	font-size:12px;
	margin-right:3px;
	color:#b5b5b5;
}
.item .meta .fcategory{
	float:left;
}
.item .meta .fcategory i{
	margin-right: 3px;
}
.item .meta .fcategory a{
	color: #999
}
	/*** ITEM LIST ***/

	.item p {
		font-size:12px;
		line-height:19px;
	}
	
	.item p a {
		font-weight:700;
		color:#e73737;
		white-space: nowrap;
	}
	.item p a i {
		font-size:14px;
		margin-right:4px;
	}
	
	.item.list h3 a {
		font-size:17px;
		margin-bottom:6px;
		display:block;
	}
	
	.item.list .meta {
		margin-bottom:12px;
		padding-bottom:12px;
		border-bottom:1px solid #eee;
		max-width: 10000px;
	}
	
		/*** Big list ***/
		.item.list.big img {
			margin-bottom:12px;
		}

.social-share-buttons > div{
	margin: 0px 0px 10px 0px;
}
.social-share-buttons > div > a > img{
	width:30px;height:auto;
}

/** IMG hover **/
.item-img {
	position:relative;
}
.item-img img{
	width: 100%;
	height: auto;
}
.img-hover {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000000 url(img/play-icon.png) no-repeat center center;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.img-hover.big { background:#000000 url(img/play-icon-big.png) no-repeat center center; }
.item-img:hover > a .img-hover {
	opacity:.75;
}


/*** SIDEBAR ***/
.sidebar {
	
}
	.sidebar .widget_recent_entries ul li{
		font-size:13px;
		margin-bottom:4px;
		margin-left: -30px;
		list-style: none;
	}
	.sidebar .widget_recent_entries ul li:before{
	  content: '\f0da';
	  font-family: 'FontAwesome';
	  margin-right: 6px;
	}
	.sidebar .widget_recent_entries ul li a{
		color: #000;
	}
	/*** WIDGETS ***/
	.widget {
		overflow:hidden;
		margin-bottom:30px;
	}
	
	.widget ul li {
		font-size:13px;
		margin-bottom:4px;
	}
	.widget ul li a{
		color: #000;
	}
	.widget p {
		font-size:12px;
		line-height:19px;
	}
	
	.widget h4.widget-title, .sidebar .wpb_wrapper .widget-title, .sidebar .widget .widgettitle{
		background:#e73737;
		border-left:8px solid rgba(0,0,0,.2);
		color:#FFF;
		margin:0 0 20px 0;
		padding:13px 10px 14px 10px;
		font-family:Lato, sans-serif;
		font-weight:400;
		text-transform:uppercase;
		letter-spacing:1px;
		font-size:14px;
	}
	.sidebar .wpb_wrapper .widget-title{
		width: 100%;
	}
		/*** Social Widget ***/
		.social-counter-item {
			text-align: center;
			width: 22.5%;
			float: left;
			margin-right: 3.3%;
		}
		.social-counter-item.last {
			margin-right:0;
		}
		.social-counter-item i {
			width:100%;
			height:75px;
			background:#eee;
			color:#aaa;
			font-size:28px;
			text-align:center;
			line-height:75px;
			margin-bottom:5px;
		}
			.social-counter-item i.fa-facebook:hover {
				background:#3B5998;
				color:#fff;
			}
			.social-counter-item i.fa-twitter:hover {
				background:#00ABF0;
				color:#fff;
			}
			.social-counter-item i.fa-google-plus:hover {
				background:#DA4835;
				color:#fff;
			}
			.social-counter-item i.fa-rss:hover {
				background:#FF6600;
				color:#fff;
			}
			
			
		.social-counter-item a {
			color:#999;
		}
		.social-counter-item a:hover {
			text-decoration:none;
			color:#444;
		}
		.social-counter-item span.counter {
			font-size:15px;
			font-weight:700;
			display:block;
			margin-bottom:-3px;
		}
		.social-counter-item span.counter-text {
			font-size:12px;
		}
		
	/*** Tags ***/
	.mars-keycloud-widgets a,
	.tagcloud a,
	a.tag {
		background:#eee;
		color:#b5b5b5;
		padding:4px 6px;
		margin:0 4px 8px 0;
		display:inline-block;
		font-size:11px;
		text-transform:uppercase;
		letter-spacing:1px;
	}
	
	/*** Social List ***/
	ul.social li i{
		width:20px;
		font-size:14px;
	}
		
/*** FOOTER ***/
#footer {
	background:#111;
	padding:40px 0 20px 0;
}

	/*** Footer widgets ***/
	h4.footer-widget-title {
		color:#FFF;
		font-size:14px;
		letter-spacing:2px;
		font-weight:700;
		text-transform:uppercase;
		margin-bottom:20px;
	}
	
	#footer .widget ul li a, #footer .widget p a {
		color:#bbb;
	}
	
	#footer .widget p {
		color:#777;
	}
	
	/*** Tags **/
	.tagcloud a{
		background: #eee;
	}
	#footer .mars-keycloud-widgets a,
	#footer .widget a.tag {
		background:#333;
		color:#888;
	}
	.tagcloud a:hover,
	#footer .mars-keycloud-widgets a:hover,
	#footer .widget a.tag:hover {
		background:#e73737;
		color:#fff;
		text-decoration:none;
	}

	
/*** FOOTER COPYRIGHT ***/
.copyright {
	border-top:1px solid #222;
	padding-top:20px;
	margin-top:20px;
}
.copyright p {
	font-size:12px;
	color:#7E7B7B;
}

/*** VIDEO PAGE ***/
.video-wrapper {
	margin-top:-30px;
	padding:30px 0;
	background:#111;
	margin-bottom:30px;
}

.video-info {
	margin-bottom:20px;
	overflow:hidden;
}
#breadcrumbs,
#breadcrumbs a{
	color: #333;
}
.large #breadcrumbs,
.large #breadcrumbs a{
	color: #fff;
	font-size: 14px;
}
.post-password-form{
	color: #666;
}
.small #breadcrumbs a{
	color: #333;
	font-size: 14px;
}
.video-info h1 {
	margin:0;
	font-size:24px;
	color:#fff;
	float:left;
}

.video-info span.views {
	float:right;
	color:#888;
	font-size:16px;
	line-height:30px;
}
.video-info span.views i {
	margin-right:4px;
}

.video-info span.likes,.video-info span.dislikes {
	float:right;
	color:#666;
	font-size:16px;
	line-height:30px;
	margin-right:15px;
}
.video-info span.likes i, .video-info span.dislikes i {
	margin-right:4px;
}
.video-info span.likes {
	color:#4aad51;
}
.video-info span.dislikes {
	color:#f85043;
}

.video-options {
	margin-bottom:25px;
}
.video-options .col-xs-6{
	margin-top:10px;
}
.video-options .option {
	border:1px solid #e5e5e5;
	display:block;
	text-align:center;
	padding:22px 0 20px 0;
	color:#999;
	height: 90px;
}
.video-options .option:hover {
	text-decoration:none;
	border:1px solid #ccc;
	color:#666;
}
.video-options .option:hover i {
	color:#666;
}

.video-options .option i {
	font-size:20px;
	display:block;
	margin-bottom:4px;
	color:#b5b5b5;
}

	/*** POST ENTRY ***/
	.post-entry {
		margin-bottom:28px;
	}
	.post-entry p{
		line-height:23px;
		margin-bottom:18px;
	}
	.post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 {
		margin-bottom:18px;
	}
	.post-entry > ul > li:last-child, .post-entry > ol > li:last-child  {
		margin-bottom:18px;
	}
	.post-entry .categories-video .btn-group{
		width: 100%;
	}
	.post-entry .categories-video .btn-group .multiselect{
		width: 100%;
	}
	.post-entry .categories-video .btn-group .multiselect-container{
		background: #fff!important;
		width: 40%;
	}
	.post-entry .categories-video .btn-group .multiselect-container input{
		width: auto!important;
	}
	img.alignright {float:right; margin:0 0 1em 1em}
	img.alignleft {float:left; margin:0 1em 1em 0}
	img.aligncenter {display: block; margin-left: auto; margin-right: auto}
	a img.alignright {float:right; margin:0 0 1em 1em}
	a img.alignleft {float:left; margin:0 1em 1em 0}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.video-details {
	margin-bottom:30px;
	
}
.video-details .date {
	font-weight:700;
	display:block;
	margin-bottom:5px;
}

.video-details .meta, .post-info .meta {
	text-transform:uppercase;
	font-size:11px;
	display:block;
	line-height: 27px;
}
.video-details .meta .meta-info, .post-info .meta .meta-info {
	background:#e73737;
	color:#fff;
	padding:5px 7px;
}
.video-details .meta a, .post-info .meta a {
	background:#b2b2b2;
	color:#fff;
	padding:5px 7px;
}
.video-details .meta a:hover, .post-info .meta a:hover {
	text-decoration:none;
	background:#555;
	color:#fff;
}

	/*** Video small ***/
	.video-info.small h1 {
		color:#000;
	}
	.player {
		margin-bottom:25px;
	}


/*** COMMENTS ***/
.comments {
	margin-bottom:40px;
}

.comment-form .form-group input {
	width:50%;
}

	/*** user comments ***/
	.comment-list {
		margin-bottom:30px;
	}
	
	.comment {
		
	}
	
	.the-comment {
		overflow:hidden;
		margin-bottom:20px;
	}
	.the-comment .avatar {
		float:left;
		margin-right:12px;
	}
	.the-comment .comment-content span.author a {
		font-size:13px;
		font-weight:700;
		margin-bottom:4px;
		display:block;
		color: #333;
	}
	.the-comment .comment-content span.author small {
		font-weight:400;
		color:#999;
	}
	.the-comment .comment-content p {
		font-size:12px;
	}
	
	.the-comment .comment-content a.reply, .the-comment .comment-content a.edit {
		font-size:11px;
		display:block;
		letter-spacing:1px;
		color:#aaa;
		margin-top:-2px;
		margin-right:8px;
		float:left;
	}
	
		/*** Comment nesting ***/
		.comment ul {
			margin-left:30px;
		}
		
/*** BLOG ***/
.post {
	margin-bottom:60px;
}

.post .blog-date {
	text-align:center;
	border-bottom:1px solid #eee;
	padding-bottom:5px;
}
.post .blog-date .day {
	font-size:30px;
	line-height:22px;
	color:#888;
}
.post .blog-date .month {
	text-transform:uppercase;
	color:#bbb;
	letter-spacing:1px;
	font-size:16px;
	margin-right:-2px;
}

.post .post-header {
	margin-bottom:20px;
}
.post .post-header h2 a {
	color:#000;
}
.post .post-header .post-meta, .post .post-header .post-meta a, .post-meta a {
	color:#aaa;
	font-size:12px;
}
.post .post-header .post-meta i{
	font-size:14px;
	color:#c5c5c5;
	margin-right:3px;
}
.post .post-header .post-meta .sep {
	margin:0 12px;
	color:#ccc;
}

.post-entry a.readmore {
	background:#E73737;
	padding:10px 12px;
	border-radius:3px;
	color:#FFF;
	font-size:11px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
}
.post-entry a.readmore:hover {
	text-decoration:none;
	opacity:.9;
}

.post-tags a.tag {
	padding:6px 10px;
	color:#999;
}

	/*** Pagination ***/
	.pager li > a {
		color:#888;
		border:1px solid #ccc !important;
	}
	
/*** BROWSE & CATEGORIES ***/
.browsing {
	display:block;
	color:#b5b5b5;
	font-size:9px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:-1px;
}

.sorting {
	margin-top:2px;
	padding-left: 0;
}
.sorting li {
	display:inline-block
}
.sorting li a {
	padding:4px 8px;
	color:#999;
	font-size:12px;
}
.sorting li.active a, .sorting li:hover > a {
	background:#E73737;
	color:#fff;
	border-radius:5px;
}
.sorting li a:hover {
	text-decoration:none;
}
.sorting li.sort-text {
	font-weight:700;
	color:#555;
	font-size:12px;
	margin-right:6px;
}

	/*** pagination ***/
	.pagination span.current,
	.pagination>.active>a {
		background:#E73737 !important;
		border-color:#E73737 !important;
		color:#FFF !important;
	}
	.pagination>li>a, .pagination>li>span {
		color:#999 !important;
	}
	
ul.post-tape li{
	margin-top:6px;
}
ul.post-tape li a{
	border-radius:0!important;
	background:none;
	border:none;
}	

.videoWrapper {
	z-index: 100000;
	position: relative;
}

#lightoff {
  display: none; background: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: .90; z-index:10;
}
.videoWrapper object{
	width: 100%;
	height: 100%;	
}
.videoWrapper embed{
	width: 100%;
	height: 100%;	
}
video.wp-video-shortcode, .wp-video-shortcode video{
	height: auto;
}
.video-page-builder img{
	width: 100%;
}
.carousel .meta,.widget .col-sm-6 .meta,.meta-maxwidth-230 .meta{
	max-width:230px
}
.featured-wrapper .meta,.widget .meta,.meta-maxwidth-360 .meta{
	max-width:360px
}

.dropdown-menu{
	background: #4c5358;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background: rgba(0,0,0, .2)
}

@media (min-width:767px) {
	ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
		display: block;    
	}
}

@media (max-width:1023px) {
	.feat-item h3 a{
		font-size:12px;
		
	}
	.video-section .item h3 a, .widget .item h3 a{
		font-size:11px;
		white-space: nowrap;
		overflow: hidden;
	}
	.item .meta, .feat-item .feat-info .meta{
		font-size:10px
	}
}

@media (max-width:767px) {
	.container{
		max-width:390px
	}
	#logo{
		width:100%;
		border-right: 0;
		box-shadow: none
	}
	#header-search{
		position: relative;
		left:0;
		right:0;
		overflow: hidden;
	}
	#header-social{
		position: absolute;
		line-height: 52px;
		height: 52px;
		border-left: 0;
		text-align: left;
		box-shadow: none
	}
	#header-social a{
		margin-left:0;
		margin-right:10px
	}
	.navbar-collapse {
		max-height: 1000px!important
	}
	.columns-1 .col-sm-12 img{
		height: 100px;
	}	
}
.item .meta .fcomments, .feat-item .feat-info .meta .fcomments{
    display:none;
}
@media screen and (max-width: 30em) {
    .meta .date{display:none;}
}
 @media screen and (max-width: 60em) {
    .meta .date{display:none;}
}
@media (max-width: 767px){
  #logo {
    text-align: center;
    } 
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
@media screen and (max-width: 75em),
@media screen and (max-width: 53.75em) {
    #gallery-1 .gallery-item{
        width: 50%!important;
    }     
 }
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption{}
.bypostauthor{}
.channel-header,.profile-widget-header {
	float:left;
	width:100%;
	border:1px solid #eee;
	padding:12px;
	margin-bottom:25px;
}
.channel-image, .profile-widget-image {
	float:left;
	margin-right:16px;
}
.channel-info h3, .profile-widget-info h3 {
	display:block;
	margin-bottom:14px;
	margin-top:9px;
	float:none;
}
.profile-widget-info h3{
	font-size: 18px;
}
.channel-item, .profile-widget-info-item{
	display:inline-block;
	border:1px solid #eee;
	color:#999;
	font-size:12px;
	padding:3px 7px;
	margin-right:5px;
	margin-bottom:5px;
}
.profile-widget-info-item a{
	color: #000;
}
.wpb_row{
	margin-left: 0px!important;margin-right: 0px!important;
}
.vc_responsive .wpb_row .vc_span9{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.columns-1 .col-sm-12 img{
	width: 100%;
}
.columns-1 .item,
.sidebar .item{
	height:auto!important;
}
.register-terms input[name="terms_required"]{
	margin-right: 8px;
}
#subscrib-modal{
	z-index: 99999999;
}